.content
  .container
    %ui.thumbnails
      - i = 0
      - @image_list.each do |image|
        != p '<div class="row-fluid">' if i.modulo(3) == 0
        %li.span4.thumbnail
          .center_horizontal
            != link_to image_tag(image.url), :controller => 'images', :action => 'show', :id => image.id
          .caption
            %h3= image.title
            %p= @image_text
        != p '</div>' if i.modulo(3) == 2 or i == @image_list.size
        - i += 1
